body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: rgba(33, 33, 33, 0.8);
  background-size: cover;
  text-align: center;
  color: black;
  font-weight: bold;
}
h1 {
  color: goldenrod;
}
h2 {
  color: black;
}
#question {
  font-style: italic;
  color: black;
}

.app {
  display: flex;
  flex-direction: column;
  max-width: 750px;
  height: 750px;
  border: 1px solid black;
  background: #fff;
  width: 90%;
  max-width: 600px;
  margin: 100px auto 0;
  border-radius: 10px;
  padding: 30px;
}
.app h1 {
  font-size: 25px;
  color: #001e4d;
  font-weight: 600;
  border-bottom: 1px solid #333;
  padding-bottom: 30px;
}
.quiz {
  /* display: flex;
  flex-direction: column;
  justify-content: space-around; */
  padding: 20px 0;
}
.quiz h2 {
  font-size: 18px;
  color: #001e4d;
  font-weight: 600;
}
#answer-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.btn {
  background: #fff;
  color: #222;
  font-weight: 500;
  width: 100%;
  border: 1px solid #222;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}
.btn:hover:not([disabled]) {
  background: #222;
  color: #fff;
}
.btn:disabled {
  cursor: no-drop;
}
#next-btn {
  background: #001e4d;
  color: #fff;
  font-weight: 500;
  width: 150px;
  border: 0;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor: pointer;
  display: none;
}
.correct {
  background: #9aeabc;
}
.incorrect {
  background: #ff9393;
}
